# Q1

In [112]:
#TODO: should a=0 return -1? 
def newton_sqrt_estimate(a, epsilon):
    # Write your code here
    print(f'a: {a}, ep: {epsilon}')
    if type(a) is not int:
        return -1
    elif a < 0:
        return -1
    elif a == 0:
        return 0.0
    elif a == 1:
        return 1.0
    elif type(epsilon) is not float:
        return -1
    elif epsilon < 0.0:
        return -1
    
    def next_iter(xn):
        return .5 * (xn + a/xn)
    
    xn = 1.0
    xn1 = next_iter(xn)
    
    counter = 1
    while abs(xn1 - xn) > epsilon:
        xn = xn1
        xn1 = next_iter(xn)
        print(f'iteration {counter}: {xn1} - {xn} = {abs(xn1 - xn)}')
        counter += 1
    return round(xn1, 1)

In [113]:
a = 100
ep = 0.0
newton_sqrt_estimate(a, ep)

a: 100, ep: 0.0
iteration 1: 26.24009900990099 - 50.5 = 24.25990099009901
iteration 2: 15.025530119986813 - 26.24009900990099 = 11.214568889914178
iteration 3: 10.840434673026925 - 15.025530119986813 = 4.185095446959888
iteration 4: 10.032578510960604 - 10.840434673026925 = 0.8078561620663205
iteration 5: 10.000052895642693 - 10.032578510960604 = 0.03252561531791187
iteration 6: 10.000000000139897 - 10.000052895642693 = 5.289550279563571e-05
iteration 7: 10.0 - 10.000000000139897 = 1.3989698288696673e-10
iteration 8: 10.0 - 10.0 = 0.0

10.0

# Q2

In [114]:
import pandas as pd
df_raw = pd.read_csv('./test_data.csv')
df_raw

          id  vendor_id pickup_datetime dropoff_datetime
0  id0219696         72   6/6/2016 6:06    6/6/2016 6:13
1  id1372182         80  2/7/2016 19:18              NaN
2  id3569980         69  6/14/2016 0:26   6/14/2016 0:34
3  id2858528         29             NaN              NaN

In [116]:
def longestRide(df):
    # Write your code here
    df = df.dropna(
        subset=['pickup_datetime', 'dropoff_datetime'],
        how='any'
    )
    df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
    df['dropoff_datetime'] = pd.to_datetime(df['dropoff_datetime'])
    df['duration'] = df['dropoff_datetime'] - df['pickup_datetime']
    df['pickup_month'] = df['pickup_datetime'].dt.strftime('%Y-%m')

    res = df.groupby('pickup_month', as_index=False)['duration'].max()
    res = res.merge(
        df[['pickup_month', 'duration', 'id']],
        on=['pickup_month', 'duration']
    )
    res = res[['pickup_month', 'id']].sort_values('pickup_month')
    return res

In [118]:
longestRide(df_raw)

C:\Users\Clayton.Marquardt\AppData\Local\Temp\1\ipykernel_3608\2125734414.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
C:\Users\Clayton.Marquardt\AppData\Local\Temp\1\ipykernel_3608\2125734414.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dropoff_datetime'] = pd.to_datetime(df['dropoff_datetime'])
C:\Users\Clayton.Marquardt\AppData\Local\Temp\1\ipykernel_3608\2125734414.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['duration'] = df['dropoff_datetime'] - df['pickup_datetime']
C:\Users\Clayton.Marquardt\AppData\Local\Temp\1\ipykernel_3608\2125734414.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pickup_month'] = df['pickup_datetime'].dt.strftime('%Y-%m')

  pickup_month         id
0      2016-06  id3569980

# Q3

In [130]:
def survival_probability(gender, passenger_class):
    if type(gender) is not str:
        return 0
    elif gender.lower() != 'male' and gender.lower() != 'female':
        return 0
    elif type(passenger_class) is not int:
        return 0
    elif passenger_class < 1 or passenger_class > 3:
        return 0
    gender = gender.lower()
    df = pd.read_csv('http://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv')

    df = df[(df['Sex'] == gender) & (df['Pclass'] == passenger_class)]
    odds = df[df['Survived'] == 1].shape[0] / df[df['Survived'] == 0].shape[0]
    return round(odds, 4)

In [131]:
survival_probability('male', 2)

0.1868